/*!
 *Edited Styles by Blake Macleod
 */

hr.soften {
  height: 1px;

  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}


/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}
.jumbotron .btn-large {
  font-size: 20px;
  font-weight: normal;
  padding: 14px 24px;
  margin-right: 10px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
} 
 
/* Masthead (docs home) */
.masthead {
  padding-top: 36px;
  margin-bottom: 72px;
}
.masthead h1,
.masthead p {
  text-align: center;
}
.masthead h1 {
  margin-bottom: 18px;
}
.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}
 
 .strike {
 	text-decoration: line-through;
 }
 
 .zero{
  margin: 0px 0px 10px 0px;
  border: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

 .zero-row{
 	padding-bottom: 0px;
 }

/* Home Form */

.home-control {
  margin-left: 20px;
}
.home-form-action {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.white {
	color: white;
}

#landing {
  background-image: url();
  background-repeat: no-repeat:
  background-position: center top;
  background-color: #fff; }
  
.dashboard h1{
	font-size: 60px;
	padding: 20px 0 20px 0;

}

.dashboard h3{
	font-size: 34px;
	padding-bottom: 10px;
}
  

